.done {
    text-decoration: line-through;
    color: #ff0000;
}

#todoInput,
#addTask {
    padding: 10px;
}

li {
    margin: 10px;
}

button {
    margin: 5px;
}

.bg {
    background-color: #F7E594;
}